@model IEnumerable<Niche>

<h2>Known Niches for @ViewBag.LotNum</h2>
<div style="display: block">
    <a href="/Niche/InsertNiche/@ViewBag.HouseID">Create A Niche for @ViewBag.LotNum</a>
</div>
<table class="table">
    <tr>        
        <th>NicheHeight</th>
        <th>NicheWidth</th>
        <th>NicheQuantity</th>                
    </tr>
    @foreach (var niche in @Model)
    {
        <tr>            
            <td>@niche.NicheHeight</td>
            <td>@niche.NicheWidth</td>
            <td>@niche.NicheQuantity</td>                     
        </tr>
    }
</table>
<div style="display: block">
    <a href="/OrderFull/EditMenu/@ViewBag.HouseID">Return to Edit Menu for @ViewBag.LotNum</a>
</div>