@model IEnumerable<Mantle>

<h2>Known Mantles for @ViewBag.LotNum</h2>
<div style="display: block">
    <a href="/Mantle/InsertMantle/@ViewBag.HouseID">Create A Mantle for @ViewBag.LotNum</a>
</div>
<table class="table">
    <tr>        
        <th>MantleType</th>
        <th>MantleQuantity</th>
        <th>Notes</th>        
    </tr>
    @foreach (var mantle in @Model)
    {
        <tr>            
            <td>@mantle.MantleType</td>
            <td>@mantle.MantleQuantity</td>
            <td>@mantle.MantleNotes</td>           
        </tr>
    }
</table>
<div style="display: block">
    <a href="/OrderFull/EditMenu/@ViewBag.HouseID">Return to Edit Menu for @ViewBag.LotNum</a>
</div>
<hr class="my-4" />
<figure>
    <div class="fixed-wrap">
        <div id="fixed>"
    </div>
</figure>
<img src="~/Images/Mantle.jpg" alt="Mantle" width="60%" height="60%">
