@model IEnumerable<Rail>

    <h2>Known Rail Lines for @ViewBag.LotNum</h2>
    <div style="display: block">
    <a href="/Rail/InsertRail/@ViewBag.HouseID">Create A Line Of Rail for @ViewBag.LotNum</a>
    </div>
    <table class="table">
        <tr>
            <th>Rail Line Number</th>
            <th>Rail Type</th>
            <th>Rail Style</th>
            <th>Rail Length</th>
            <th>Shoe Rail Length</th>
            <th>Cap board Type</th>
            <th>Cap Board Length</th>            
        </tr>
        @foreach (var rail in @Model)
        {
            <tr>
                <td>@rail.RailLineNum</td>
                <td>@rail.RailTypeID</td>
                <td>@rail.RailStyleID</td>
                <td>@rail.RailLength</td>
                <td>@rail.ShoeLength</td>
                <td>@rail.CapTypeID</td>
                <td>@rail.CapLength</td>             
            </tr>          
        }
    </table>
<div style="display: block">
<a href="/OrderFull/EditMenu/@ViewBag.HouseID">Return to Edit Menu for @ViewBag.LotNum</a>
    </div>
<img src="~/Images/Rail.jpg" alt="Mantle" width="60%" height="60%">

