@model IEnumerable<Rail>

    <h2>Known Rail Lines for @ViewBag.LotNum</h2>
    <div style="display: block">
    <a href="/Rail/InsertRail/@ViewBag.HouseID">Create A Line Of Rail for @ViewBag.LotNum</a>
    </div>
    <table class="table">
        <tr>
            <th>RailLineNumber</th>
            <th>RailType</th>
            <th>RailStyle</th>
            <th>RailLength</th>
            <th>CapType</th>
            <th>CapLength</th>            
        </tr>
        @foreach (var rail in @Model)
        {
            <tr>
                <td>@rail.RailLineNum</td>
                <td>@rail.RailTypeID</td>
                <td>@rail.RailStyleID</td>
                <td>@rail.RailLength</td>
                <td>@rail.CapTypeID</td>
                <td>@rail.CapLength</td>             
            </tr>          
        }
    </table>
<div style="display: block">
<a href="/OrderFull/EditMenu/@ViewBag.HouseID">Return to Edit Menu for @ViewBag.LotNum</a>
    </div>