@model OrderFull

<hr1>Edit @Model.LotNum </hr1>

@using (Html.BeginForm("EditHouseDetailsToDatabase", "OrderFull", "Post"))
{
    <input asp-for="HouseID" type="hidden" value="@Model.HouseID" />

    <div class="form-group form-check">
    <input type="checkbox" class="form-check-input" value="@Model.MeasureDone" checked name ="MeasureDone" id="exampleCheck1">
        <label class="form-check-label"  for="exampleCheck1">Measure Complete</label>
  </div> 

    <label asp-for="MeasureDate" class="control-label">When was this house Measured?</label>
    <input type="text" name="MeasureDate" class="form-control" value="@Model.MeasureDate" />

    <label asp-for="MeasureState" class="control-label">What was the Condition of the House when Measured?</label>
    <input type="text" name="MeasureState" class="form-control" value="@Model.MeasureState" />

  <div class="form-group form-check">
    <input type="checkbox" class="form-check-input" value="@Model.InstallDone" checked name ="InstallDone" id="exampleCheck1">
        <label class="form-check-label"  for="exampleCheck1">Install Complete</label>
  </div>

    <label asp-for="InstallDate" class="control-label">When was this House Installed?</label>
    <input type="text" name="InstallDate" class="form-control" value="@Model.InstallDate" />

    <label asp-for="InvoiceNum" class="control-label">Enter Invoice Number</label>
    <input type="number" name="InvoiceNum" class="form-control" value="@Model.InvoiceNum" />

    <label asp-for="InvoiceDate" class="control-label">Enter Invoice Date</label>
    <input type="text" name="InvoiceDate" class="form-control" value="@Model.InvoiceDate" />

    <div class="form-group">
        <label for="">Select a Builder</label>
        <select class="form-control" name="BuilderID" value="@Model.BuilderID">
            @foreach (var builder in ViewBag.Builders)
            {
                <option value="@builder.BuilderID">@builder.BuilderName</option>
            }
        </select>
    </div>

    <label asp-for="Address" class="control-label">What is the House's Address?</label>
    <input type="text" name="Address" class="form-control" value="@Model.Address" />

    <label asp-for="SubDiv" class="control-label">Enter a Sub-Division</label>
    <input type="text" name="Subdiv" class="form-control" value="@Model.SubDiv" />

    <label asp-for="HardwareColor " class="control-label">Enter The Hardware Color</label>
    <input type="text" name="HardwareColor" class="form-control" value="@Model.HardwareColor" />

    <label asp-for="StainColor" class="control-label">What's the Stain Color?'</label>
    <input type="text" name="StainColor" class="form-control" value="@Model.StainColor" />

    <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" value="@Model.WI" checked name="WI" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Does This House Have Wrought Iron Balusters</label>
    </div>

    <label asp-for="Notes" class="control-label">Notes</label>
    <input type="text" name="Notes" class="form-control" value="@Model.Notes" />


    



    <input type="submit" value="Update House Details" class="btn btn-primary" />
}