@model IEnumerable<OrderFull>

    <h2> Browse Jobs</h2>
    <div style="display: block">
    <a href="/OrderFull/CreateNewHouse/">Create a New Work Order</a>
    </div>
    <table class="table">
        <tr>
            <th>Edit This House</th>
            <th>Lot Number</th>
            <th>Measured?</th>
            <th>Measured Date</th>
            <th>Installed?</th>
            <th>Installed Date</th>
            <th>InvoiceNumber</th>
            <th>Invoice Date</th>
        </tr>
          @foreach (var order in @Model)
        {
            <tr>
                <td><a href=/OrderFull/EditMenu/@order.HouseID>Update This House</a></td>
                <td><a href=/OrderFull/FullOrder/@order.HouseID>@order.LotNum</a></td> 
                <td>@order.MeasureDone</td>
                <td>@order.MeasureDate</td>
                <td>@order.InstallDone</td>
                <td>@order.InstallDate</td>
                <td>@order.InvoiceNum</td>
                <td>@order.InvoiceDate</td>
            </tr>
        }
     
    
    </table>