@model IEnumerable<OrderFull>
@{ 
    void ListOrderFull(OrderFull order, string clas)
    {
        <tr class="table-@clas">
        <td><a href=/OrderFull/EditMenu/@order.HouseID>Update This House</a></td>
        <td><a href=/OrderFull/FullOrder/@order.HouseID>@order.LotNum</a></td>
        <td>@(@order.MeasureDone ? "Yes" : "No")</td>
        <td>@order.MeasureDate</td>
        <td>@(@order.OnHold ? "Yes" : "No")</td>
        <td>@(@order.InstallDone ? "Yes" : "No")</td>
        <td>@order.InstallDate</td>
        <td>@order.InvoiceNum</td>
        <td>@order.InvoiceDate</td>
        </tr>
    }
}

    <h2> Browse Jobs</h2>
    <div style="display: block">
    <a href="/OrderFull/CreateNewHouse/">Create a New Work Order</a>
    </div>
    <table class="table">
        <tr>
            <th>Edit This House</th>
            <th>@Html.ActionLink("Lot Number", "Index", new { sortOrder = ViewBag.LotNumSortParm })</th>       
            <th>Measured</th>
            <th>@Html.ActionLink("Measure Date", "Index", new { sortOrder = ViewBag.MeasureDateSortParm })</th>
            <th>On Hold</th>
            <th>Installed</th>
            <th>@Html.ActionLink("Install Date", "Index", new { sortOrder = ViewBag.InstallDateSortParm })</th>
            <th>@Html.ActionLink("Invoice Number", "Index", new { sortOrder = ViewBag.InvoiceNumberSortParm })</th>
            <th>@Html.ActionLink("Invoice Date", "Index", new { sortOrder = ViewBag.InvoiceDateSortParm })</th>
        </tr>
    @foreach (var order in @Model)
    {
        if (order.OnHold)
        {
           ListOrderFull(order, "danger");
        }
        else if (order.InstallDone)
        {             
           ListOrderFull(order, "success");          
        }
        else if(order.MeasureDone)
        {
            ListOrderFull(order, "primary");
        }
        else 
        {
            ListOrderFull(order, "secondary");
        }
    }

</table>